<configuration>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp />
                <pattern>
                    <pattern>
                        {
                        "severity": "%level",
                        "message": "%message",
                        "logger": "%logger"
                        }
                    </pattern>
                </pattern>
                <mdc /> <!-- Required to output MDC values -->
            </providers>
        </encoder>
    </appender>
    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>expense-tracker.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>expense-tracker-%d{yy-MM-dd_HH-mm}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp />
                <pattern>
                    <pattern>
                        {
                        "severity": "%level",
                        "message": "%message",
                        "logger": "%logger"
                        }
                    </pattern>
                </pattern>
                <mdc /> <!-- Required to output MDC values -->
            </providers>
        </encoder>
    </appender>

    <logger name="com.rafat"/>

    <root level="INFO">
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="fileAppender" />
    </root>

</configuration>